@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
:root {
    --space: 10px;
    --accepted-color: #48545b;
    --light-gray-color: #9bb4be;
    --light-orange-color: #ffebeb;
    --dark-orange-color: #de411b;
    --pending-color: #379bd7;
    --sidebar-hover-color: #f0f3f3;
    --roboto-font: 'Roboto', sans-serif;

}

body {
    font-family: var(--roboto-font);
    margin: 0;
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.main-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr;
}

header {
    align-items: center;
    border-bottom: 1px solid var(--sidebar-hover-color);
    display: flex;
    height: 60px;
    justify-content: space-between;
    object-fit: contain;
}

.nav-bar {
    height: inherit;
}

.nav-bar ul{
    display: flex;
    height: inherit;
    margin: 0;
    padding: 0;
}

.nav-bar ul li {
    height: inherit;
    list-style: none;
}

.nav-link {
    align-items: flex-end;
    box-sizing: border-box;
    color: var(--accepted-color);
    display: flex;
    font-size: 20px;
    font-weight: bold;
    height: inherit;
    justify-content: center;
    padding: 0 var(--space);
    padding-bottom: 10px;
    min-width: 170px;
    text-decoration: none;
}

.nav-link.active {
    color: var(--dark-orange-color);
    border-bottom: 2px solid var(--dark-orange-color);
}

header span i {
    color: var(--accepted-color);
    cursor: pointer;
    margin-right: 38px;
}

.info-container {
    background:white;    
    grid-row-end: span 2;
    height: 100vh;
    width: 194px;
}

.user-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.user-img {
    background-color: var(--pending-color);
    border-radius: 50%;
    height: 76px;
    margin-top: 36px;
    width: 76px;
}

.user-img p {
    color: var(--sidebar-hover-color);
    font-size: 37px;
    letter-spacing: 0.09px;
    font-stretch: condensed;
    margin: 0;

}

.user-detail {
    align-items: inherit;
    display: inherit;
    flex-direction: inherit;
}

.user-name {
    color: var(--accepted-color);
    font-size: 16px;
    margin: 0 auto;
}

.user-position {
    color: var(--light-gray-color);
    font-size: 12px;
    margin-bottom: 72px;
    margin-top: 0;

}

.side-menu-container {
    margin: 0;
}

.side-menu-container ul {
    padding: 0;
}

.side-menu-container ul li {
    align-items: center;
    border-radius: 0 4px 4px 0;
    max-width: 173px;
}

.side-menu-link {
    align-items: center;
    border-radius: 0 8px 8px 0;
    color: var(--sidebar-hover-color);
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    list-style: none;
    margin-bottom: 8px;
    padding-left: 16px;
    text-decoration: none;    
}

.side-menu-link:hover {
    background: var(--sidebar-hover-color);
    color: var(--accepted-color);
}

.side-menu-link.active {
    background-color: var(--light-orange-color);
    color: var(--dark-orange-color);
}

.side-menu-link i {
    padding-right: 16px;
}

.top-menu-container {
    align-items: center;
    border-bottom: 1px solid  var(--sidebar-hover-color);
    display: flex;
    height: 80px;
    justify-content: flex-end;
    width: 100%;
}

.btn-menu{
    align-items: center;
    background: transparent;
    border: 1px solid  var(--accepted-color);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--accepted-color);
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    margin-right: 24px;
}

.btn-menu:hover {
    background: var(--sidebar-hover-color);
    border: none;
}

.btn-menu.hide {
    display: none;
}

.expense-table{
    border-collapse: collapse;
    color: var(--accepted-color);
    font-size: 16px;
    text-align: left;
    width: 100%;
}

tr {
    height: 49px;
}

tr.selected {
    background-color: #f5fdff;
}

.check-field {
    padding: 0px 0 25px 82px;
}

th {
    border-bottom: 1px solid var(--light-gray-color);
    padding: 15px;
}

td {
    border-bottom: 1px solid var(--sidebar-hover-color);
    padding: 15px;
}

.check-container{
    display: block;
    position: relative;
}

.check-container input[type="checkbox"] {
    height: 0;
    margin: 0;
    padding: 0;
    width: 0;
    position: absolute;
}

.checkmark {
    background: white;
    border: 1px solid var(--light-gray-color);
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
}

.check-container input:checked ~ .checkmark {
    background-image: url('../assets/selected.svg');
    border: none;
  }
  
.check-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
}

.central-icon-container {
    border-radius: 16px;
    color: #233237;
    flex-direction: column;
    height: 296px;    
    width: 446px;
}

.central-icon-container:hover {
    background: var(--sidebar-hover-color);
    cursor: pointer;
}

.central-icon-container i{
    font-size: 96px;
}

.central-icon-container p{
    margin: 0;
}

.central-icon-title {
    font-size: 16px;
    font-weight: 500;
}

.central-icon-explanation {
    font-size: 14px;
}

.modal {
    background-color: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 10;
}

.modal.show {
    align-items: center;
    display: flex;
    justify-content: center;
}

.modal .modal-content {
    background: white;
    border-radius: 16px;
    min-height: 200px;
    margin: auto;
    width: 515px;
}

.modal .modal-header {
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    font-size: 34px;
    height: 86px;
    justify-content: space-between;
    width: 100%;
}

.close {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
}

.modal .modal-header > * {
    padding: 0;
    margin: 0 40px;
}

.modal-body {
    color: var(--accepted-color);
    font-size: 16px;
    padding: 24px 40px 66px;
}

label {
    display: block;
    color: var(--dark-orange-color);
}

input::placeholder {
    color: var(--accepted-color);
}

input.large {
    width: 100%;
}

input,
select {
    border: 2px solid #d1d1d1;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--roboto-font);
    margin-top: 30px;
    padding: 16px 14px;
    width: 328px;   
}

.custom-select:focus,
.custom-select:after {
    border: 2px solid var(--dark-orange-color);
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input-group #budget {
    width: 187px;
}

.input-group #currency {
    width: 125px;
}

.modal input[type="submit"] {
    background: var(--accepted-color);
    border: none;
    color: white;
    margin-left: auto;
}

.modal form{
    display: none;
}